.btn {
	text-decoration: none;
	padding: 0.6em;
  border-radius: 5px;
	border: solid 1px #ccc;
	background-color: #eee;
  font-size: 0.5em;
  font-family: $font-body;

  + .btn {
    border-left: 0;
  }
}

.btn-prime {
  color:$color-white;
  background-color: $color-sec;
}

.btn-sec {
  color:$color-white;
  background-color: $color-tert;
}

//.btn-sec {}
