.btn {
  background-color: #eee;
  border: solid 1px #ccc;
  border-radius: 5px;
  font-family: $font-body;
  font-size: .5em;
  padding: .6em;
  text-decoration: none;

  + .btn {
    border-left: 0;
  }
}

.btn-prime {
  background-color: $color-sec;
  color: $color-white;
}

.btn-sec {
  background-color: $color-tert;
  color: $color-white;
}
