.btn {
	text-decoration: none;
	padding: 0.6em;
  border-radius: 5px;
	border: solid 1px #ccc;
	background-color: #eee;
  font-size: 0.5em;
  font-family: $f-body;

	& + .btn {
		border-left: none;
	}
}

.btn-prime {
  color:$c-white;
  background-color: $c-sec;
}

.btn-sec {
  color:$c-white;
  background-color: $c-tert;
}

//.btn-sec {}
