// Layout
.footer {
  background: $color-sec;
  border-top: 5px solid color($color-sec, l1);

  & > ul {
    @extend .content;
    display: flex;
    align-content: flex-start;

    & > li {
      margin: 0 0.5em;
      flex: 1 1;
      border-right: 1px solid color($color-sec, l1);

      &:first-child{
        flex: 4 6;
        margin-left: 0em;
      }

      &:nth-child(2){
        flex: 2 6;
      }

      &:last-child{
        flex: 2 6;
        margin-right: 0em;
        border-right: none;
      }

    }
  }
}


.footer {

  .logo {
    width: 5em;
    float: left;
    margin-right: 2em;}

  .description {
    margin-top: 0em;
    max-width: 20em;
    float:left;
  }

  p, h3 {color: $color-white;}

}


.footer__links {
    padding-top:0.5em;

    li {
      padding-bottom:0.5em;

      a {
        color:$color-white;
        text-decoration: none;
        opacity: 0.5;

        &:hover{
          color:$color-prime;
          text-decoration: underline;
          opacity: 1.0;
        }
      }
    }
  }
