label,
.text,
select,
textarea {
  display: block;
}

.text,
select,
textarea {
  padding: $gap-1;
  width: 100%;
}

.input {
  margin: $gap-1 0;

  label {
    display: none;
  }
}

form .grid {
  @include grid(3, $gap-3);
  label {
    padding: 5px 0;
  }

  .sig {
    margin-left: 25px;
  }
}

[type="radio"],
[type="checkbox"] {
  margin-left: 5px;
}

[type="submit"] {
  float: right;
  padding: $gap-1;
}
