.nav--main {
  background: #00f;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    background: #aaa;
    flex: 1 10em;
    padding: 1em;
    text-align: center;

    a {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
