.nav--main {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: row;
  background: blue;
  list-style:none;
  padding: 0px;
  margin: 0px;

  li {
  //-webkit-flex: 1 20em;
  flex: 1 10em;
  background: #aaa;
  padding: 1em;
  text-align:center;
    a {
    color:white;
    text-decoration:none;
    text-transform: uppercase;
    }
  }
}

