//Layout
.home-content {
  @extend %content;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

.l-home-content__top {

  .home-content__hero {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
  }
}

.l-home-content__middle {

}



.meetup--upcoming {
  flex: 2;
}

.meetup--past {
  flex: 2;
  //background: green;
}




/* .home-content{
  article {
    padding: 1em;
  }
}
 */
//Modules
.home-content__description {
  flex: 1 18em;
  padding-bottom: 1em;

  @media screen and (min-width: 930px) {
    padding-right: 1em;
    padding-bottom: 0em;
  }
}

.home-content__description .logo-wrapper {
  text-align: center;

  .icon-logo {
    min-width: 10em;
    min-height: 10em;
  }
}

.home-content__meetup {
  flex: 3 40em;
}

.l-home-content__middle {
  /* background: $color-tert;
  color: $color-white; */
}

.meetup--past-group {
  display:flex;
}

.meetup--past {
  flex:3;
  padding-right: 1em;

  &:last-child {
    padding-right: 0;
  }
}
