.logo {
  margin-right: auto;
  width: 8em;
}

.nav-item {
  align-self: flex-start;
  background: $color-quat;
  padding: 0.5em;

  &:last-child {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
  }

  a {
    color: $color-tert;
    opacity: 0.5;
    text-decoration: none;

    &:hover {
      color: $color-prime;
      opacity: 1;
      text-decoration: underline;
    }
  }
}

nav {
  margin: 0 auto;
  max-width: 60em;

  ul {
    align-content: flex-end;
    display: flex;
    margin-top: 1em;
  }
}

