.logo {
  margin-right: auto;
  width: 8em;
}

.nav-item {
  align-self: flex-start;
  //background: $color-quat;
  padding: 1em;

  &:last-child {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
  }

  a {
    color: $color-tert;
    opacity: 0.5;
    border-bottom: none;

    &:hover {
      color: $color-white;
      opacity: 1;
      border-bottom: 2px solid $color-prime;
    }
  }
}

.main-nav {
  padding-top: 1em;
}

nav {
  @include bgColor($color-sec);

  ul {
    margin: 0 auto;
    max-width: 60em;
    align-content: flex-end;
    display: flex;
  }
}
