// ----- Flex-box mixin (work in progress)
@mixin grid($flex, $direction: column) {
  flex-direction: $direction;
  display: flex;

  > li {
    flex: $flex;
    list-style: none;
    margin: 0 1em 0 0;
    padding: 1em;

    &:first-child { 
      padding-left: 0; 
    }

    &:last-child { 
      padding-right: 0; 
    }
  }

  @media all and (min-width: 480px) {
    flex-direction: row;
  }
}

.style-guide {
  section ~ section { 
    padding-top: 1em; 
  }

  .logo ul { 
    @include grid(50%); 
  }

  .font-family ul {
    @include grid(33%); 
  }
  
  .colors ul { 
    @include grid(33%); 
  }
}

// Needs to be Refactored in mixins - AO

.colors ul li {
  color: $color-white;
  text-align: center;

  &:first-child { 
    background: $color-prime;

    &:after {
      color: $color-white;
      content: '$color-prime \A #{$color-prime}';
      font-size: 1.2em;
      white-space: pre;
    }
  }

  &:nth-child(2) { background: $color-sec;

    &:after {
      color: $color-white;
      content: '$color-sec \A #{$color-sec}';
      font-size: 1.2em;
      white-space: pre;
    }
  }

  &:nth-child(3) { background: $color-tert;

    &:after {
      color: $color-white;
      content: '$color-tert \A #{$color-tert}';
      font-size: 1.2em;
      white-space: pre;
    }
  }

  &:nth-child(4) { 
    background: $color-quat;

    &:after {
      color: $color-white;
      content: '$color-quat \A #{$color-quat}';
      font-size: 1.2em;
      white-space: pre;
    }
  }

  &:nth-child(5) { background: $color-qui;

    &:after {
      color: $color-white;
      content: '$color-qui \A #{$color-qui}';
      font-size: 1.2em;
      white-space: pre;
    }
  }
}

.button ul {
  @include grid(50%);
}
