// ----- Flex-box mixin (work in progress)
@mixin grid($flex, $direction:column) {
  flex-direction: $direction;
  display: flex;

  & > li {
    flex: $flex;
    list-style: none;
    margin: 0 1em 0 0;
    padding: 1em;

    &:first-child { padding-left: 0;}
    &:last-child { padding-right: 0;}
  }

  @media all and (min-width: 480px) {
    & {flex-direction: row;}
  }
}

.style-guide {
  section ~ section { padding-top: 1em;}

  .logo ul { @include grid(50%);}
  .fontFamily ul { @include grid(33%);}
  .colors ul { @include grid(33%);}

}

// Needs to be Refactored in mixins - AO
.colors ul li {
  color: $color-white;
  text-align: center;

  &:first-child { background: $color-prime;

    &:after {
      content: "$color-prime \A #{$color-prime}";
      white-space: pre;
      font-size: 1.2em;
      color: $color-white;
    }
  }

  &:nth-child(2) { background :$color-sec;

    &:after {
      content: "$color-sec \A #{$color-sec}";
      white-space: pre;
      font-size: 1.2em;
      color: $color-white;
    }

    &:nth-child(3) {background: $color-tert;

    &:after {
      content: "$color-tert \A #{$color-tert}";
      white-space: pre;
      font-size: 1.2em;
      color: $color-white;
    }

    &:nth-child(4) {background: $color-quat;

    &:after {
      content: "$color-quat \A #{$color-quat}";
      white-space: pre;
      font-size: 1.2em;
      color: $color-white;
    }

    &:nth-child(5) {background: $color-qui;

    &:after {
      color: $color-white;
      content: "$color-qui \A #{$color-qui}";
      white-space: pre;
      font-size: 1.2em;
    }
  }
}

.button ul {
  @include grid(50%);
}

.icon {
  display: block;
  margin: 0 auto;
  max-width: 4em;
}
