.blog .content {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;

  .blog-teaser {
    background-color: #f00;

    &:first-child {
      background-color: #ffc0cb;

      // @media screen and (min-width: 930px) {
      //   flex: 2 32em;
      // }
    }
  }


}
