h1 Resources

//- @@@ make a task for this (builder)
section.ct
  h2 Sass Community

  p List of the Sass community meetups

//- @@@ make a task for this (builder)
section.ct
  h2 Meetups we <3

  p List of the local nyc meetups we support


!= partial('../_newsletter')
