p Logo designed by  <a href="#{licenses.logo.website}"target="_blank" class="licenses licenses__logo">#{licenses.logo.designer}</a>. More credits and details at ye olde <a href="/colophon">colophon</a>.

p.contributing Find an error or want to add something? Send pull requests at <a href="https://github.com/GothamSass/chrysler">Github</a>. Kindly refer to our <a href="/style-guide">styleguide</a>.
