<p>© #{copyright.start} GothamSass | Content is licensed under <a href="linkme.org" class="licenses licenses__content">#{licenses.content}</a> | Code is licensed under <a href="linkme.com" class="licenses licenses__code">#{licenses.content}</a>.
</p>

 
