p © #{copyright.start} GothamSass. Content is licensed under <a href="linkme.org" class="licenses licenses__content">#{licenses.content}</a>. Code is licensed under <a href="linkme.com" class="licenses licenses__code">#{licenses.content}</a>. Logo <span class="licenses licenses__logo">#{licenses.logo}. More credits and details at ye olde <a href="/colophon">colophon</a>.
