footer(role="contentinfo")
  .ct
    p Short description with logo, contact info, social media icons. (links to about)


  p Creative Commons. Want to contribute? Github!
  p Made in NYC with <3 Colophon!

  .ct
    p All site links (expand hidden pages like code of conduct


  != partial('_newsletter')
