footer.footer(role="contentinfo")
  .footer__top
    .block.block--about
      h3.block-title About Us
      //- img.logo(src="/assets/logo/logo.svg" alt="Gotham Sass")
      p
        <svg class="icon icon-logo"><use xlink:href="#icon-logo"></use></svg><span class="mls"></span>
      p.footer__description #{short_description}
    .block.block--connect
      h3.block-title Connect With Us

      ul.footer__links.content
        li
          a(href="http://twitter.com/#{data.twitter}") Twitter
        li
          a(href="http://meetup.com/#{data.meetup}") Meetup
        li
          a(href="http://github.com/#{data.github}") Github

    .block.block--links
      h3.block-title Links
      nav.nav.footer-nav(role="navigation", class="banner")
        ul.footer__links
          li
            a(href="/about") About
          li
            a(href="/events") Events
          li
            a(href="/blog") Blog
          li
            a(href="/sponsors") Sponsors
  .footer__bottom
    != partial('_copyright-colophon.jade')
    != partial('_contributing.jade')
