footer.footer(role="contentinfo")
  ul
    //- li
    //-   a(href="/")
    //-     img(src="/assets/logo/logo.svg" alt="Gotham Sass")
    li
      h3 About Us
      img.logo(src="/assets/logo/logo.svg" alt="Gotham Sass")
      p.description GothamSass meetup which serves front end developers, CSS ninjas, UX mavens, and Sass lovers where you come to learn the latest Sass news, meet other Sass enthusiasts, and find out about how to make your teams more effective.
    li
      h3 Connect With Us
      ul.footer__links
        li
          a(href="#") Twitter
        li
          a(href="#") Meetup
        li
          a(href="#") Github
    li
      h3 Links
      nav.nav.footer-nav(role="navigation", class="banner")
        ul.footer__links
          li
            a(href="/about") About
          li
            a(href="/events") Events
          li
            a(href="/blog") Blog
          li
            a(href="/resources") Resources
          li
            a(href="/sponsors") Sponsors
