footer.footer(role="contentinfo")
  ul
    li
      h4 About Us
      p GothamSass meetup which serves front end developers, CSS ninjas, UX mavens, and Sass lovers where you come to learn the latest Sass news, meet other Sass enthusiasts, and find out about how to make your teams more effective.
    li
      h4 Connect With Us
      a(href="#") Twitter
      a(href="#") Meetup
      a(href="#") Github
    li
      h4 Links
      nav.nav.footer-nav(role="navigation", class="banner")
        ul
          //- li.logo
          //-   a(href="/")
          //-     img(src="/assets/logo/logo.svg" alt="Gotham Sass")
          //-     span.is-hidden Home
          li
            a(href="/about") About
          li
            a(href="/events") Events
          li
            a(href="/blog") Blog
          li
            a(href="/resources") Resources
          li
            a(href="/sponsors") Sponsors
