nav.nav.main-nav(role="navigation", class="banner")

  a.logo(href="/") GothamSass
  ul
    li
      a(href="/about") About
    li
      a(href="/events") Events
    li
      a(href="/resources") Resources
    li
      a(href="/sponsors") Sponsors
    li
      a.icon(href="/rss")
        i.fa.fa-rss

