nav.nav.main-nav(role="navigation", class="banner")

  ul
    li.logo
      a(href="/")
        img(src="/assets/logo/logo.svg" alt="Gotham Sass")
        span.is-hidden Home
    li
      a(href="/about") About
    li
      a(href="/events") Events
    li
      a(href="/resources") Resources
    li
      a(href="/sponsors") Sponsors

