nav.nav.main-nav(role="navigation", class="banner")
  ul
    li.logo
      a(href="/")
        img(src="/assets/logo/logo.svg" alt="Gotham Sass")
        span.is-hidden Home
    li.nav-item
      a(href="/about") About
    li.nav-item
      a(href="/events") Events
    li.nav-item
      a(href="/blog") Blog
    li.nav-item
      a(href="/sponsors") Sponsors
    li.nav-item
      a(href="/code-of-conduct") Code of Conduct
