nav.nav.main-nav
	a.logo(href="/") GothamSass
	ul
		li
			a(href="/events") Events
		li
			a(href="/about") About
		li
			a(href="/recipes") Recipes
		li
			a.icon(href="/recipes") <i class="fa fa-rss"></i>

