nav.nav.main-nav(role="navigation", class="banner")
  ul
    li.logo-item
      a(href="/")
        svg.icon.icon-logo.nav__logo
          use(xlink:href='#icon-logo')
          span.is-hidden Home
    if current.path[1] === "index"
      li.nav-item
        a(href="/") Home
    li.nav-item
      a(href="/about") About
    li.nav-item
      a(href="/events") Events
    li.nav-item
      a(href="/blog") Blog
    li.nav-item
      a(href="/sponsors") Sponsors
    li.nav-item
      a(href="/code-of-conduct") Code of Conduct
