nav.nav.main-nav
	a.logo(href="/") GothamSass
	ul
		li
			a(href="/events") Events
		li
			a(href="/blog") Blog
		li
			a(href="/team") Team
		li
			a(href="/members") Members
		li
			a.icon(href="/rss") <i class="fa fa-rss"></i>
