section.section.l-home-content__top
  div.content.home-content__hero
    article.home-content__meetup.meetup--upcoming
      span.upcoming-meetup__section-title Next Meetup: 
      h2.upcoming-meetup__title Using Bootstrap + Sass Effectively with <span class="upcoming-meetup__speaker">Nicole Dominguez</span>
      p.upcoming-meetup__date 
        | September 16, 7:00pm - 9:00pm, Pivotal Labs
      //- p.upcoming-meetup__location 
      //-   | Pivotal Labs
      .upcoming-meetup__content
        .upcoming-meetup__photo
          img(src="assets/img/nicole-d.jpg")
        .upcoming-meetup__description
          p
            | Working with a framework like Bootstrap with Sass doesn't have to be a messy nightmare... We are going to talk about best practices for using Bootstrap in your Sass project including:
            ul.ul-bullet.meetup__description--bullets
              li how to avoid css bloat
              li setting up your project for maximum effectiveness
              li overriding bootstrap variables for your own
              li managing a large sass + bootstrap project
              li some live examples!
          
      
section.section.l-home-content__middle
  .content.content__middle
    h3.upcoming-meetup__section-title Past Meetups:
    .meetup--past-group
      article.home-content__meetup.meetup--past
        img(src="assets/img/Dale-Sande-Headshot.jpg")
        h4.meetup--past__title On Battle of the Grids pt. 1
        span.meetup--past__speaker Nick Hehr 
      article.home-content__meetup.meetup--past
        img(src="assets/img/Dale-Sande-Headshot.jpg")
        h4.meetup--past__title Mastering Vertical Rhythm & Modular Scale
        span.meetup--past__speaker Ian Rose
      article.home-content__meetup.meetup--past
        img(src="assets/img/Dale-Sande-Headshot.jpg")
        h4.meetup--past__title All the cool kids are talking about LibSass
        span.meetup--past__speaker Dale Sande
