section.section.l-home-content__top
  div.content.home-content__hero
    //- article.home-content__description
    //-   p.logo-wrapper
    //-     <svg class="icon icon-logo"><use xlink:href="#icon-logo"></use></svg><span class="mls"></span>
    //-   p GothamSass meetup serves front end developers, CSS ninjas, UX mavens, and Sass lovers where you come to learn the latest Sass news, meet other Sass enthusiasts, and find out about how to make your teams more effective.
    //-   a Join Us on meetup

    article.home-content__meetup.meetup--upcoming
      span.upcoming-meetup__section-title Next Meetup: 
      h2.upcoming-meetup__title Using Bootstrap + Sass Effectively with <span class="upcoming-meetup__speaker">Nicole Dominguez</span>
      span.upcoming-meetup__date September 16, 2014
      span.upcoming-meetup__location Pivotal Labs 212 32313
      img(src="assets/img/nicole-d.jpg")
      p
        | Working with a framework like Bootstrap with Sass doesn't have to be a messy nightmare... We are going to talk about best practices for using Bootstrap in your Sass project including:
        ul.ul-bullet
          li how to avoid css bloat
          li setting up your project for maximum effectiveness
          li overriding bootstrap variables for your own
          li managing a large sass + bootstrap project
          li some live examples!
          
      
section.section.l-home-content__middle
  .content.content__middle
    h3.upcoming-meetup__section-title Past Meetups:
    .meetup--past-group
      article.home-content__meetup.meetup--past
        img(src="assets/img/nick-hehr.jpeg")
        h4.meetup--past__title On Battle of the Grids pt. 1
        span.meetup--past__speaker Nick Hehr 
      article.home-content__meetup.meetup--past
        img(src="assets/img/ian_rose.jpeg")
        h4.meetup--past__title Mastering Vertical Rhythm & Modular Scale
        span.meetup--past__speaker Ian Rose
      article.home-content__meetup.meetup--past
        img(src="assets/img/Dale-Sande-Headshot.jpg")
        h4.meetup--past__title All the cool kids are talking about LibSass
        span.meetup--past__speaker Dale Sande
