section.ct
  h1 Upcoming events

  p How do events display on the home page? What does 1 event look like? what
    about multiple events?
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque recusandae assumenda expedita impedit. Sed illum quae explicabo debitis obcaecati corporis maiores, expedita fugit accusamus id praesentium mollitia! Inventore est iure laborum nulla animi nisi officiis quia modi dolore autem aliquid enim alias harum vitae quae corporis, eum unde, culpa laudantium.
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque omnis autem culpa quidem sint, tempora saepe quam aliquam veritatis repudiandae nobis ab iure pariatur, quod unde cupiditate excepturi quia nemo itaque fuga consequatur eum necessitatibus voluptatum molestias. Suscipit, nisi ipsum. Consequatur quia iste voluptatum nisi molestiae sit hic aspernatur magni!
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat facilis, nisi corrupti rem, illum aliquam deserunt minima sint cumque quidem, repellendus aperiam ea? Perferendis quisquam, ex provident, iusto tempore ad nostrum. Reprehenderit ullam similique eaque adipisci dolore qui at, officia sunt reiciendis, provident inventore sed. Est vel rem, sit earum.
