section.section.home-content-top
  div.content
    article.home-content--description
      p.logo-wrapper
        <svg class="icon icon-logo"><use xlink:href="#icon-logo"></use></svg><span class="mls"></span>
      p GothamSass meetup serves front end developers, CSS ninjas, UX mavens, and Sass lovers where you come to learn the latest Sass news, meet other Sass enthusiasts, and find out about how to make your teams more effective.
      a Join Us on meetup

    article.home-content--meetup.meetup--upcoming
      span.next-meetup-title Next Meetup:
      h2 Battle of the Grids pt. 1
      p September 16, 2014
      p So. Many. Grid. Frameworks. #mindexploding
      p
        | This month we will hear from few speakers on their grid framework of choice. Lightening talk style.
      
section.section.home-content-middle
  .content
    h3 Past Meetups:
    .meetup--past-group
      article.home-content--meetup.meetup--past
        h4.meetup--past--title On Constraints with Shay Howe, Jon Buda &amp; JC Grubbs
        span.meetup--past--date May 22, 2014
        p.meetup--past--description
          | Joining us from Chicago GothamSass gives a very special welcome to Shay Howe, Jon Buda and JC Grubbs. The trio are taking a five day road trip across the country spending time with the local community of designers and developers.
      article.home-content--meetup.meetup--past
        h4.meetup--past--title On Constraints with Shay Howe, Jon Buda &amp; JC Grubbs
        span.meetup--past--date May 22, 2014
        p.meetup--past--description
          | Joining us from Chicago GothamSass gives a very special welcome to Shay Howe, Jon Buda and JC Grubbs. The trio are taking a five day road trip across the country spending time with the local community of designers and developers.
      article.home-content--meetup.meetup--past
        h4.meetup--past--title On Constraints with Shay Howe, Jon Buda &amp; JC Grubbs
        span.meetup--past--date May 22, 2014
        p.meetup--past--description
          | Joining us from Chicago GothamSass gives a very special welcome to Shay Howe, Jon Buda and JC Grubbs. The trio are taking a five day road trip across the country spending time with the local community of designers and developers.
