section.home-content
  article.home-content--description
    p.logo-wrapper
      <svg class="icon icon-logo"><use xlink:href="#icon-logo"></use></svg><span class="mls"></span>
    p GothamSass meetup serves front end developers, CSS ninjas, UX mavens, and Sass lovers where you come to learn the latest Sass news, meet other Sass enthusiasts, and find out about how to make your teams more effective.
    a Join Us on meetup

  article.home-content--meetup.meetup--upcoming
    h2 Next Meetup:
    h3 Battle of the Grids pt. 1
    p September 16, 2014
    p So. Many. Grid. Frameworks. #mindexploding
    p
      | This month we will hear from few speakers on their grid framework of choice. Lightening talk style.

  article.home-content--meetup.meetup--previous
    h2 Last Meetup:
    h3 On Constraints with Shay Howe, Jon Buda &amp; JC Grubbs
    p May 22, 2014
    p So. Many. Grid. Frameworks. #mindexploding
    p
      | Joining us from Chicago GothamSass gives a very special welcome to Shay Howe, Jon Buda and JC Grubbs. The trio are taking a five day road trip across the country spending time with the local community of designers and developers.

