    aside
      ul
        li All
        li Branding Guidelines
        li Color
        li Typography
        li Buttons
        li Grid
        li Forms
        li Patterns
    div
      main
        section
          h2 Logo
          ul
            li
              img(src='http://placehold.it/350x150')
            li
              img(src='http://placehold.it/350x150')
            li
              img(src='http://placehold.it/350x150')
        section
          h2 Heading
          div
            h1 Page Heading
            h2 Section Heading
            h3 Sub-Section Heading
        section
          h2 Paragraph
          ul
            li Title
            li Body
        section
          h2 List Items
          ul
            li
            li
        section
          h2 Font Families
          ul
            li Title
            li Body
        section
          h2 Buttons
          ul
            li Title
            li Body
        section
          h2 Forms
