// Fonts
$font-title: 'bebas_neuebook', Georgia, serif;
$font-body: 'abeezeeregular', Courier, monospace;
$font-mono: 'callunaregular', Helvetica, sans-serif;
$font-icon: FontAwesome;


//Font Sizes
$baseFontSize: 1.2em;
