@font-face {
    font-family: 'bebas_neuethin';
    src: url('../../assets/fonts/bebasneus/bebasneue_thin-webfont.eot');
    src: url('../../assets/fonts/bebasneus/bebasneue_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/bebasneus/bebasneue_thin-webfont.woff2') format('woff2'),
         url('../../assets/fonts/bebasneus/bebasneue_thin-webfont.woff') format('woff'),
         url('../../assets/fonts/bebasneus/bebasneue_thin-webfont.ttf') format('truetype'),
         url('../../assets/fonts/bebasneus/bebasneue_thin-webfont.svg#bebas_neuethin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_neuebold';
    src: url('../../assets/fonts/bebasneus/bebasneue_bold-webfont.eot');
    src: url('../../assets/fonts/bebasneus/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/bebasneus/bebasneue_bold-webfont.woff2') format('woff2'),
         url('../../assets/fonts/bebasneus/bebasneue_bold-webfont.woff') format('woff'),
         url('../../assets/fonts/bebasneus/bebasneue_bold-webfont.ttf') format('truetype'),
         url('../../assets/fonts/bebasneus/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'bebas_neuebook';
    src: url('../../assets/fonts/bebasneus/bebasneue_book-webfont.eot');
    src: url('../../assets/fonts/bebasneus/bebasneue_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/bebasneus/bebasneue_book-webfont.woff2') format('woff2'),
         url('../../assets/fonts/bebasneus/bebasneue_book-webfont.woff') format('woff'),
         url('../../assets/fonts/bebasneus/bebasneue_book-webfont.ttf') format('truetype'),
         url('../../assets/fonts/bebasneus/bebasneue_book-webfont.svg#bebas_neuebook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_neuelight';
    src: url('../../assets/fonts/bebasneus/bebasneue_light-webfont.eot');
    src: url('../../assets/fonts/bebasneus/bebasneue_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/bebasneus/bebasneue_light-webfont.woff2') format('woff2'),
         url('../../assets/fonts/bebasneus/bebasneue_light-webfont.woff') format('woff'),
         url('../../assets/fonts/bebasneus/bebasneue_light-webfont.ttf') format('truetype'),
         url('../../assets/fonts/bebasneus/bebasneue_light-webfont.svg#bebas_neuelight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'bebas_neue_regularregular';
    src: url('../../assets/fonts/bebasneus/bebasneue_regular-webfont.eot');
    src: url('../../assets/fonts/bebasneus/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/bebasneus/bebasneue_regular-webfont.woff2') format('woff2'),
         url('../../assets/fonts/bebasneus/bebasneue_regular-webfont.woff') format('woff'),
         url('../../assets/fonts/bebasneus/bebasneue_regular-webfont.ttf') format('truetype'),
         url('../../assets/fonts/bebasneus/bebasneue_regular-webfont.svg#bebas_neue_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'callunaregular';
    src: url('../../assets/fonts/calluna_regular/Calluna-Regular-webfont.eot');
    src: url('../../assets/fonts/calluna_regular/Calluna-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/calluna_regular/Calluna-Regular-webfont.woff2') format('woff2'),
         url('../../assets/fonts/calluna_regular/Calluna-Regular-webfont.woff') format('woff'),
         url('../../assets/fonts/calluna_regular/Calluna-Regular-webfont.ttf') format('truetype'),
         url('../../assets/fonts/calluna_regular/Calluna-Regular-webfont.svg#callunaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'abeezeeitalic';
    src: url('../../assets/fonts/abeezee/abeezee-italic-webfont.eot');
    src: url('../../assets/fonts/abeezee/abeezee-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/abeezee/abeezee-italic-webfont.woff2') format('woff2'),
         url('../../assets/fonts/abeezee/abeezee-italic-webfont.woff') format('woff'),
         url('../../assets/fonts/abeezee/abeezee-italic-webfont.ttf') format('truetype'),
         url('../../assets/fonts/abeezee/abeezee-italic-webfont.svg#abeezeeitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'abeezeeregular';
    src: url('../../fonts/abeezee/abeezee-regular-webfont.eot');
    src: url('../../fonts/abeezee/abeezee-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/abeezee/abeezee-regular-webfont.woff2') format('woff2'),
         url('../../fonts/abeezee/abeezee-regular-webfont.woff') format('woff'),
         url('../../fonts/abeezee/abeezee-regular-webfont.ttf') format('truetype'),
         url('../../fonts/abeezee/abeezee-regular-webfont.svg#abeezeeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
