h1 Resources

section.ct
  h2 Blog

  p Interested in contributing? (link on how to contribute to the blog)

  p List of blog teasers with tags. Maybe our tags can be color coded if we have a strict
    | hierarchy (encouraged). Tags include recipes.


//- @@@ make a task for this (builder)
section.ct
  h2 Sass Community

  p List of the Sass community meetups

//- @@@ make a task for this (builder)
section.ct
  h2 Meetups we <3

  p List of the local nyc meetups we support


!= partial('../_newsletter')
