doctype html
html
  != partial("views/includes/_head")

  body

    != partial("views/includes/_header")

      != yield

    != partial("views/includes/_footer")

    != partial("views/includes/_scripts")
