header.page-header
  .block.content
    h1 About Us

section.page-content

  != partial('_overview')

  section
    h2 Manifesto

    != partial('../manifesto')

  section.team-grid
    h2 Organizing Team

    != partial('_member')
