header.page-header
  .block.content
  
section.page-content
  article.h-entry.blog-article
    a.u-url.blog-article--url(href= "")
      h2.p-name.blog-article--title
        = title
    p
      | Published by
      =' '
      each author in authors
        //- - if(author.data)
        a.p-author.blog-article(href= author.website)= author.name 
        = ' '
      
      time.dt-published.blog-article--time
        = published

    .e-content.blog-article--content
      != yield

    .p-category.blog-article--category
      each category in categories 
        = category + ' '

    h3 About the Author
    each author in authors
      p
        a.p-author.h-card.blog-article--author(href= author.website)= author.name + ' '

      p= author.description      
