article.h-entry
  a.u-url(href= "")
    h1.p-name= properties.name
  p
    | Published by
    =' '
    a.p-author.h-card(href= properties.author[0].properties.url)= properties.author[0].properties.name
    =' '
    time.dt-published= properties.published

  .e-content
    != yield

  .p-category
    = properties.category[0].category
    =' '
    = properties.category[0].tags

