article.h-entry
  h1.p-name= title
  p
    | Published by
    a.p-author.h-card(href='http://example.com')= authors
    |  on

    time.dt-published(datetime='2013-06-13 12:00:00')= date

  p.p-summary
    != yield
