- console.log('author[1]', properties.author )

article.h-entry
  a.u-url(href= "")
    h1.p-name= properties.name
  p
    | Published by
    =' '

    each author, index in properties.author
      a.p-author.h-card(href= properties.author[index].properties.url)= properties.author[index].properties.name
      =' '

    =' '
    time.dt-published= properties.published


  .e-content
    != yield

  .p-category
    = properties.category[0].category
    =' '
    = properties.category[0].tags

