h1 Blog

- for post, slug in public.blog.posts._data
  h2: a(href="/blog/posts/#{ slug }")= post.title
  p #{post.date} by #{post.authors}

  - function excerpt(content) {
    - if(content.indexOf("<!-- more -->") == -1) return content;
    - else return content.split("<!-- more -->")[0];
  - }

  != excerpt(partial("posts/" + slug))



- var post = public.blog.posts._data.welcome;
- post.yield = partial("welcome");
!= partial("_decorator", post)
