h1 Blog
p Some stuff we want to say about our blog.

//- show blog teaser roll
for post, slug in public.blog.posts._data
  if post.layout !== false
  article
    h2.blog-title: a(href="/blog/posts/#{ slug }")= post.title
    p.blog-date #{ post.date }  | #{ post.authors }
    if post.description
      p= post.description
