// base rules

h1,
h2,
h3,
h4 {
  color: $color-2;
  font-family: $font-title;
  font-weight: normal;

}

body {
  background-color: $color-0;
  font-family: $font-text;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

a {
  color: $color-2;
  transition: all 300ms ease-out;
}

.hidden {
  display: none;
}
