.container {
	margin: $g2 auto;
	width: 600px;	
	@include clear;
	
}
nav.nav {
	@include clear;
	ul {
		float: right;
		li {
			display: inline;
			&:not(:first-of-type):before {
				content: " / ";
			}
		}
	}
}
a.logo {
	@include square(60px);
	@include hide-text;
	display: block;
	float: left;
	background-color: $c1;
	@include radius(50%);
}
i.fa {
	margin-right: 5px;
}