header.page-header
  .block.content
    h1 Sponsors

section.page-content

  em Short overview here and call to action (email)


  h2 Current Sponsors

  h3 Pivotal Labs


  h2 Past Sponsors

  p Meetup, Crush &amp; Lovely, NWC, Vox, SassConf
