h1 Event Archives
p Oy vey. This is a bit embarrassing. We've got a lot to clean-up here still. Check back soon. In the meantime, grab an egg cream.

for event in public.events.archive._data.results
  .h-event
    h3.p-name= event.name
    div.p-summary !{event.description}
