ul.style-guide
  //- li
  //-   aside
  //-     ul
  //-       li All
  //-       li Branding Guidelines
  //-       li Color
  //-       li Typography
  //-       li Buttons
  //-       li Grid
  //-       li Forms
  //-       li Patterns
  li
    .main-content
      section.logo
        h2 Logo
        ul
          li
            img(src='http://placehold.it/200x150')
          li
            img(src='http://placehold.it/200x150')
          li
            img(src='http://placehold.it/200x150')
      //- section.heading
      //-   h2 Heading
      //-   div
      //-    
      section.fontFamily
        h2 Font Family
        ul
          li 
            h1 Page Heading
            h2 Section Heading
            h3 Sub-Section Heading
          li 
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam culpa, tempora soluta consequatur saepe autem eum, quisquam nam ipsam explicabo iusto magnam expedita voluptatem error asperiores et incidunt harum quam rerum dolorum illo voluptatibus corporis necessitatibus. At optio sequi fugiat, ad autem et aliquam placeat recusandae accusantium dolores nisi, voluptas est ipsam eligendi repellendus. Ipsa laborum ut reprehenderit quibusdam nulla minima, deleniti dicta minus nisi, similique nemo, odit eos eum voluptas tenetur, praesentium aliquam. Accusamus a consequatur earum ratione ab qui libero. Perferendis fugit, numquam nobis, in, mollitia porro iure aspernatur cupiditate molestiae, ratione accusantium perspiciatis saepe recusandae repellat earum.
      //- section
      //-   h2 List Items
      //-   ul
      //-     li
      //-     li
      //- section.font
      //-   h2 Font Families
      //-   ul
      //-     li Title
      //-     li Body
      //- section
      //-   h2 Buttons
      //-   ul
      //-     li Title
      //-     li Body
      //- section
      //-   h2 Forms
