ul.style-guide
  li
    .main-content
      section.colors
        h2 Colors
        ul
          li

          li

          li

          li

          li

      section.logo
        h2 Logo
        ul
          li
            img(src='../assets/logo/logo.svg')
          li
            img(class='icon' src='../assets/logo/GothamSass__icon--color.svg')

      //- section.heading
      //-   h2 Heading
      //-   div
      //-
      section.fontFamily
        h2 Font Family
        ul
          li
            h1 Page Heading
            h2 Section Heading
            h3 Sub-Section Heading
            p
             a(href='#') Link
          li
             p ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam culpa, tempora soluta consequatur saepe autem eum, quisquam nam ipsam explicabo iusto magnam expedita voluptatem error asperiores et incidunt harum quam rerum dolorum illo voluptatibus corporis necessitatibus.
      //- section
      //-   h2 List Items
      //-   ul
      //-     li
      //-     li
      //- section.font
      //-   h2 Font Families
      //-   ul
      //-     li Title
      //-     li Body
      //- section
      //-   h2 Buttons
      //-   ul
      //-     li Title
      //-     li Body
      section.button
        h2 Buttons
          ul
            li
              button.btn.btn-prime Primary Button
            li
              button.btn.btn-sec Secondary Button
            li
              button.btn.btn-tert Tertiary Button
      section
        h2 Forms
        ul
          li
             span.input.input--ichiro
              input#input-25.input__field.input__field--ichiro(type='text')
              label.input__label.input__label--ichiro(for='input-25')
                span.input__label-content.input__label-content--ichiro Input
            span.input.input--ichiro
              textarea#textarea-25.input__field.input__field--ichiro(type='text')
              label.input__label.input__label--ichiro(for='textarea-25')
                span.input__label-content.input__label-content--ichiro Textarea
          li

